<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace" configSource="App_Config\ConnectionStrings.Release.Secret.config">
  </connectionStrings>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp configSource="App_Config\SMTP.Release.Secret.config">
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="Replace" mode="Off" defaultRedirect="~/Views/Shared/Error.cshtml">
      <error statusCode="404" redirect="~/Views/Errors/404.html" />
      <error statusCode="500" redirect="~/Views/Errors/500.html" />
    </customErrors>
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
          <rule name="HTTP to HTTPS" stopProcessing="true">
              <match url="(.*)" />
              <conditions>
                  <add input="{HTTPS}" pattern="^OFF$" />
              </conditions>
              <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
          </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>


