<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<connectionStrings configSource="App_Config\ConnectionStrings.Debug.Secret.config">
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp configSource="App_Config\SMTP.Debug.Secret.config">
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
  </system.web>-->
</configuration>
