
@{
    ViewBag.Title = "EmailConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmailConfirmed Please Login using the link below.</h2>

@Html.ActionLink("Login Here", "Login", "Account")
