@model InventorAccessPortal.Web.Models.Account.LoginModel
@using InventorAccessPortal.Web.Models.Account
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Login</h1>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(p => p.UsernameOrEmail)
    @Html.PasswordFor(p => p.Password)
    <input type="submit" value="Sign In">
}
@if (Model.Errors.Any())
{
    <div class="alert alert-danger" role="alert">
        @if (Model.Errors.Contains(LoginErrorCodes.InvalidUsernameOrPassword))
        {
            <p>Invalid Username And / Or Password</p>
        }
        @if (Model.Errors.Contains(LoginErrorCodes.EmptyUsernameOrPassword))
        {
            <p>Empty Username or Password</p>
        }
    </div>
}

