@model InventorAccessPortal.Web.Models.Account.LoginModel
@using InventorAccessPortal.Web.Models.Account
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Login</h1>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <table>
            <tr>
                <td>Username or Email: </td>
                <td>@Html.TextBoxFor(p => p.UsernameOrEmail)</td>
            </tr>
            <tr>
                <td>Password: </td>
                <td>@Html.PasswordFor(p => p.Password)</td>
            </tr>
        </table>
        <input type="submit" value="Sign In">
    </div>
}


