
@{
    ViewBag.Title = "File Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <h1>FileNum - FileName</h1>
    </div>
    <div class="project-info1">
        <ul>
            <li>Project Title: ...</li>
            <li>Lead Investigator: ...</li>
            <li>Law Firm: ...</li>
        </ul>
    </div>
    <div class="project-info2">
        <ul>
            <li>Status: ...</li>
            <li>Start Date: ...</li>
            <li>End Date: ...</li>
        </ul>
    </div>
    <div>
        <table>
            <tr>
                <th>Date</th>
                <th>Details</th>
                <th>Notes</th>
                <th>Activity</th>
            </tr>
        </table>
    </div>
</div>









