
@{
    ViewBag.Title = "Project Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <h1>ProjectNum - ProjectTitle</h1>
    </div>
    <div class="project-info1">
        <ul>
            <li>Project Name: ...</li>
            <li>Lead Investigator: ...</li>
        </ul>
    </div>
    <div class="project-info2">
        <ul>
            <li>Status: ...</li>
            <li>Start Date: ...</li>
            <li>End Date: ...</li>
        </ul>
    </div>
    <div>
        <table>
            <caption>Covered Files</caption>
            <tr>
                <th>File Number</th>
                <th>File Name</th>
                <th>Status</th>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <caption>Transactions</caption>
            <tr>
                <th>Date</th>
                <th>File Number</th>
                <th>Details</th>
                <th>Notes</th>
                <th>Activity</th>
            </tr>
        </table>
    </div>
</div>






