<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/IAP_Model.csdl|res://*/IAP_Model.ssdl|res://*/IAP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4KNRLI5\SQLEXPRESS;initial catalog=InventorAccessPortal_SQL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IAP_Entities" connectionString="metadata=res://*/IAP_Model.csdl|res://*/IAP_Model.ssdl|res://*/IAP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4KNRLI5\SQLEXPRESS;initial catalog=InventorAccessPortal_SQL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>