
<footer class="sticky-footer" id="footer">
    <p id="ConfidentialityFooter">
        <strong>CONFIDENTIAL:</strong> This message contains information which is confidential or privileged and exempt from disclosure under applicable law. The information contained herein is intended only for the use of inventors associated with the technologies concerned. If you are not the intended recipient, be aware that any disclosure, copying, distribution or use of this information is without authorization and is prohibited.
    </p>
    <p>
        (For questions and support, reply to this email or contact the Office of Technology Transfer)
    </p>
</footer>