@{
    ViewBag.Title = "Error Sending Mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="alert alert-danger">Error Sending Mail</h2>
<h4 class="alert alert-warning">Please try again later.</h4>


