.navbar-inverse {
    background-color: #2196f3;
    color: #ffffff;
    border-color: #2196f3;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    padding: 10px 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    cursor: pointer;
}

.nav > li > a {
    margin-right: 40px;
}

a:hover {
    background-color: #000080;
}

.navcontainer {
    margin-right: 0px;
    margin-left: 0px;
}

@media (min-width: 768px) {
    .container {
        width: 503px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 723px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 923px;
    }
}

@media (min-width: 1432px) {
    .container {
        width: 1170px;
    }
}

body {
    padding-top: 0px;
}

@media (min-width: 768px) {
    body {
        padding-top: 0px;
    }
}

.navbar-fixed-right,
.navbar-fixed-left {
    position: fixed;
    top: 0px;
    height: 100%;
    z-index: 1030;
    float: left;
}

@media (min-width: 768px) {
    .navbar-fixed-right,
    .navbar-fixed-left {
        width: 232px;
        border-radius: 4px;
    }

        .navbar-fixed-right .container,
        .navbar-fixed-left .container {
            padding-right: 0px;
            padding-left: 0px;
            width: auto;
        }

        .navbar-fixed-right .navbar-header,
        .navbar-fixed-left .navbar-header {
            float: none;
            padding-left: 15px;
            padding-right: 15px;
        }

        .navbar-fixed-right .navbar-collapse,
        .navbar-fixed-left .navbar-collapse {
            padding-right: 15px;
            padding-left: 15px;
            max-height: 100%;
        }

            .navbar-fixed-right .navbar-collapse .navbar-nav,
            .navbar-fixed-left .navbar-collapse .navbar-nav {
                float: none !important;
            }

                .navbar-fixed-right .navbar-collapse .navbar-nav > li,
                .navbar-fixed-left .navbar-collapse .navbar-nav > li {
                    width: auto;
                }

                    .navbar-fixed-right .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu,
                    .navbar-fixed-left .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu {
                        top: 0px;
                    }

                .navbar-fixed-right .navbar-collapse .navbar-nav.navbar-right,
                .navbar-fixed-left .navbar-collapse .navbar-nav.navbar-right {
                    margin-right: 0px;
                }
}
