@import "theme.less";

.sticky-footer {
    margin-right: 15px; /* this is the padding in container-fluid */
    position: fixed;
    padding: 10px;
    bottom: 0;
    background-color: @darkBackgroundColor;

    #ConfidentialityFooter {
        font: "Helvetica Bold";
        font-size: 14px;
    }
}
