@import "theme.less";

.sticky-footer {
    position: sticky;
    bottom: 0;
    margin-top: 5px;
    padding: 10px;
    background-color: @darkBackgroundColor;

    * {
        margin: 0;
    }

    #ConfidentialityFooter {
        font: "Helvetica Bold";
        font-size: 14px;
    }
}
