@import "theme.less";

.wrapper {
    background-color: @backgroundColor;
}

body {
    padding-top: 0;
}

#content {
    padding-bottom: 0; /*This is taken care of by the footer*/
    transition: all 0.3s;
    position: relative !important;
    width: 100%;
    overflow: auto;
}

/* Override bootstraps row margin */
#content > .row {
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

