
@darkColor: #5c6a7f;
@backgroundColor: #5c6a7f;
@highlightBackgroundColor: #dfdfdf;
@textBackgroundColor: #ffffff;
@lightColor: #49576d;
@accentColor: #f0b010;
@linkColor: #f0b010;
@lightTextColor: #ffffff;
@lightTextColor: #5c6a7f;
