@using InventorAccessPortal.Web.Util;
@using InventorAccessPortal.Web.Models;

@try
{
    if (Model != null) {

        bool? IsRightType = Model?.GetType()?.IsSubclassOf(typeof(SharedModel));
        if (IsRightType == true && ErrorHelper.ModelHasValidErrors((SharedModel)Model))
        {
        <div class="alert alert-danger" role="alert">
        @foreach (var error in ErrorHelper.GetAllErrors(((SharedModel)Model)))
        {
            <p>@error</p>
        }
        </div>
        }
    }
}
finally
{
}

