@using System.Configuration;
@{
    var message = ConfigurationManager.AppSettings["ConfidentialityNotice"].ToString();
}

<div id="spaceForFooter">
    <footer id="footer">
        <div class="footerBorder"></div>
        <p id="ConfidentialityFooter">
            <strong>CONFIDENTIAL:</strong> @message
        </p>
    </footer>
</div>
