
<div id="spaceForFooter">
    <footer class="sticky-footer" id="footer">
        <p id="ConfidentialityFooter">
            <strong>CONFIDENTIAL:</strong> This portal contains information which is confidential or privileged and exempt from disclosure under applicable law. The information contained herein is intended only for the use of the individual associated with this account. If you are not an authorized user, any disclosure, copying, distribution or use of this information is strictly prohibited.
        </p>
    </footer>
</div>
