@model InventorAccessPortal.Web.Models.Home.FamiliesModel.Form
@{
    ViewBag.Title = "Families Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>All Families</h1>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Status</th>
            <th>File Name</th>
            <th>Family Number</th>
            <th>Family Name</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
         {
            foreach (var family in Model.Families)
            {
            <tr>
                <td>@family.Status</td>
                <td>@family.FileName</td>
                <td>@family.FamilyNum</td>
                <td>@family.FamilyName</td>
            </tr>
            }
         }
    </tbody>
</table>
