
@{
    ViewBag.Title = "FamiliesForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>

</head>
<body style="margin-right: 0px">
    <div class="container" style="margin-top: 0px">
        <secion id="content">
            <form action="">
                <h1>All Families</h1>
                <div>
                    <table style="width: 100%">
                        <tr>
                            <th>Status</th>
                            <th>Family Number</th>
                            <th>Family Name</th>
                        </tr>
                    </table>
                </div>
            </form>
        </secion>
    </div>
</body>
</html>