
@{
    ViewBag.Title = "InventionsForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


                <h1>All Inventions</h1>
                <div>
                    <table>
                        <tr>
                            <th>Status</th>
                            <th>Project Number</th>
                            <th>Project Title</th>
                        </tr>
                    </table>
                </div>
 

