
@{
    ViewBag.Title = "RecentActivities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





                <h1>Recent Activities</h1>
                <div>
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Activity</th>
                            <th>Details</th>
                            <th>Notes</th>
                            <th>File Number</th>
                            <th>File Name</th>
                            <th>Status</th>
                            <th>Serial Number</th>
                            <th>Law Firm</th>
                        </tr>
                    </table>
                </div>




