
@{
    ViewBag.Title = "RecentActivities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>

</head>
<body style="margin-right: 0px">
    <div class="container" style="margin-top: 0px">
        <secion id="content">
            <form action="">
                <h1>Recent Activities</h1>
                <div>
                    <table style="width: 100%">
                        <tr>
                            <th>Date</th>
                            <th>Activity</th>
                            <th>Details</th>
                            <th>Notes</th>
                            <th>File Number</th>
                            <th>File Name</th>
                            <th>Status</th>
                            <th>Serial Number</th>
                            <th>Law Firm</th>
                        </tr>
                    </table>
                </div>
            </form>
        </secion>
    </div>
</body>
</html>


