@model InventorAccessPortal.Web.Models.Emails.CompleteRegistrationModel

@{
    ViewBag.Title = "Complete Registration";
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<h2>Complete Registration</h2>


